PREFIX="el prefix predeterminado de tu bot"
COLOR="el color universal de tu bot"
COIN_NAME="el nombre predeterminado de la moneda de tu bot_
OWNER="la id de usuario de discord de los dueños del bot, se tienen que separar cada ID con espacios"
TOKEN="el token del bot"
MONGODB_URI="la URI de mongodb para las bases de datos"